In [1]:
import pandas as pd
import numpy as np

#Read the CSV File into df
# Note we have truncated the dataset to 5000 rows for illustration, the actual data has over 40000 rows
# the full dataset is available on Kaggle here
# https://www.kaggle.com/rounakbanik/the-movies-dataset/downloads/the-movies-dataset.zip/7
# the recommenders work better with more data of course

df = pd.read_csv('./data/movies_metadata.csv')
df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,10/30/95,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,12/15/95,262797249,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,12/22/95,0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,12/22/95,81452156,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,2/10/95,76578911,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173

In [2]:
#Calculate the number of votes garnered by the 80th percentile movie
m = df['vote_count'].quantile(0.80)
m

255.20000000000027

In [3]:
#Only consider movies longer than 45 minutes and shorter than 300 minutes
q_movies = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]

#Only consider movies that have garnered more than m votes
q_movies = q_movies[q_movies['vote_count'] >= m]

#Inspect the number of movies that made the cut
q_movies.shape

(999, 24)

In [4]:
# Calculate C
C = df['vote_average'].mean()
C

6.06916

In [5]:
# Function to compute the IMDB weighted rating for each movie
def weighted_rating(x, m, C):
    v = x['vote_count']
    R = x['vote_average']
    # Compute the weighted score
    return (v/(v+m) * R) + (m/(m+v) * C)

In [7]:
# Compute the score using the weighted_rating function defined above
q_movies['score'] = q_movies.apply(weighted_rating, args=(m,C), axis=1)

In [8]:
#Sort movies in descending order of their scores
q_movies = q_movies.sort_values('score', ascending=False)

#Print the top 25 movies
q_movies[['title', 'vote_count', 'vote_average', 'score', 'runtime']].head(25)

,title,vote_count,vote_average,score,runtime
314,The Shawshank Redemption,8358,8.5,8.427977,142.0
834,The Godfather,6024,8.5,8.401206,175.0
2843,Fight Club,9678,8.3,8.242686,139.0
292,Pulp Fiction,8670,8.3,8.236213,154.0
522,Schindler's List,4436,8.3,8.178643,195.0
2211,Life Is Beautiful,3643,8.3,8.153956,116.0
1178,The Godfather: Part II,3418,8.3,8.145010,200.0
351,Forrest Gump,8147,8.2,8.135280,142.0
1152,One Flew Over the Cuckoo's Nest,3001,8.3,8.125161,133.0
1154,The Empire Strikes Back,5998,8.2,8.113038,124.0
1176,Psycho,2405,8.3,8.085990,109.0
289,Leon: The Professional,4293,8.2,8.080438,110.0
3030,The Green Mile,4166,8.2,8.077004,189.0
1170,GoodFellas,3211,8.2,8.043116,145.0
2216,American History X,3120,8.2,8.038886,119.0
256,Star Wars,6778,8.1,8.026311,121.0
46,Se7en,5915,8.1,8.016004,127.0
586,The Silence of the Lambs,4549,8.1,7.992121,119.0
4099,Memento,4168,8.1,7.982829,113.0
1213,The Shining,3890,8.1,7.974971,144.0
1057,Reservoir Dogs,3821,8.1,7.972855,99.0
1161,12 Angry Men,2130,8.2,7.972015,96.0
2884,Princess Mononoke,2041,8.2,7.963178,134.0
49,The Usual Suspects,3334,8.1,7.955603,106.0
4863,The Lord of the Rings: The Fellowship of the Ring,8892,8.0,7.946131,178.0